
:root {
  --primary: #0077B5;
  --primary_dark: #015b8c;
  
  --background_gray: #f4f2ee;
}

body {
  background-color: var(--background_gray);
}

/** Scrollbar **/
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary_dark); 
}


.bg-primary {
  background-color: var(--primary) !important;
}


.bg-light {
  background-color: white !important;
}



.btn-primary {
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--primary_dark) !important;
}

.btn-login {
  width: 80%;
  border-radius: 25px;
  padding: 10px;
}


.login-header {
  font-size: 18px;
}

.login-information {
  font-size: 12px;
}

.login-footer {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}


.console {
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  max-height: 400px;
  overflow-y: scroll;
}


.box {
  background-color: white !important;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box h1 {
  font-size: 18px;
  color: var(--primary);
}

.box .divider {
  height: 1px;
  width: 100px;
  background-color: rgba(128, 128, 128, 0.554);
  margin-bottom: 5px;
}


.box p {
  margin-bottom: 0;
  font-size: 14px;
}


.btn-box {
  padding: 0;
  text-align: left;
  width: 100%;
  border-width: 0;
}

.btn-box:disabled {
  border-color: transparent;
}

.btn-box:hover {
  color: var(--primary_dark) !important;
  background-color: var(--background_gray) !important;
}


i {
  margin-right: 3px;
}


.btn-link {
  text-decoration: none;
}